@import './variables';

html {
    @include noMargin;
    font-size: 100%;
    overflow-x: hidden;

    h1 {
        @include noMargin;
    }
}

.container-fluid, .row, .nav {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    padding: 0;
}

ul {
    @include noMargin;
    a {
        @include defaultText;
    }
}