@import './variables';
@import './margins';

body {

    margin: 0 auto;
    text-align: center;
    font-family: $primaryFont;

    #mobile-img {
        display: none;
    }

    #sec-font {
        font-family: $secondaryFont;
    }

    height: max-content;

    header {

        .position-absolute {
            position: absolute;
        }

        .first {

            padding-top: 4.5rem;
            padding-left: 4rem;
            padding-right: 4rem;

            #logo {
                height: 3rem;
            }

            .menu {
                
                ul {
                    list-style: none;
                
                    li {
                        padding-left: 3rem;
                        display: inline-block;
                        
                        #list-font {
                            color: white;
                            font-size: 1.5rem;
                        }
    
                        #contact {
                            font-family: $secondaryFont;
                            padding: 24px 32px;
                            background-color: white;
                            font-size: 1.15rem;
                            border-radius: 50px;
                            margin-top: 2rem;
                        }
    
                        #contact:hover {
                            background-color: rgba(188, 234, 255, 0.49);
                            color: white;
                        }
                    }
                }
    
            }
    
        } //end of first row

        .second {

            padding-top: 16rem;
            padding-bottom: 6.5rem;

            h1 {
                font-size: 3.25rem;
                color: white;
                letter-spacing: 14px;
            }

        } //end of second row

        .third {
            img {
                height: 10rem;
            }
        }

    } //end of header

    main {

        .intro {

            .catchphrase {
            
                text-align: left;

                .subtitle {
                    font-weight: 900; 
                    font-size: 3.25rem;
                }
    
                #paragraph {
                    color: darkgray;
                    font-size: 1.5rem;
                }

                .learnmore {
                
                    font-size: 1.5rem;
                    color: black; 
                    font-weight: 900;
                    letter-spacing: 2px;
                    text-decoration-thickness: 6px;
                    text-underline-offset: 0.05rem;
                    
                }
    
                .yellow {
                    text-decoration-color: rgb(254, 254, 164);              
                }
    
                .yellow:hover {
                    text-decoration-color: rgb(249, 249, 44);              
                }
    
                .pink {
                    text-decoration-color: rgba(252, 177, 189, 0.5); 
                }
    
                .pink:hover {
                    text-decoration-color: rgb(255, 105, 130); 
                }    
    
            }

        }

        .content {

            .position-relative {
                position: relative;
            }

            .position-absolute {
                position: absolute;
                top: 65%;

                .subtitle {
                    font-family: $secondaryFont;
                    font-weight: 900;
                    font-size: 2.5rem;
                }
    
                #description {
                    font-size: 1.6rem;
                    line-height: 1.5;
                    padding-top: 1.5rem;
                    width: 60%;
                }
            }
        }

        .testimonials {

            .first {

                h5 {
                    font-size: 1.75rem;
                    letter-spacing: 8px;
                    color: darkgray;
                    font-weight: 900;
                    padding-top: 100px;
                }

            }

            .second, .third {
                padding: 0px 90px 60px 90px;
            }

            .client {
                padding: 0px 20px;
            }

            #client-review {
                color: rgb(120, 120, 120);
                font-size: 2rem;
                line-height: 1.75;
                font-weight: 700;
            }

            #client-name {
                font-family: $secondaryFont;
                color: rgb(0, 35, 75);
                font-weight: 900;
                font-size: 1.75rem;
            }

            #client-position {
                font-size: 1.5rem;
                color: rgb(185, 185, 185);
                padding-bottom: 100px;
            }

        }
        
    }

    footer {    

        background-color: hsl(168, 44%, 64%);
        margin: 0;

        .logo {
            img {
                height: 2.5rem;
            }
            padding-top: 96px;
            padding-bottom: 16px;
        }

        .links {
            color: hsl(168, 34%, 41%);
            font-size: 1.5rem;
            :hover {
                color: white;
            }
        }

        .icons {
            img {
                width: 1.75rem;
                padding-top: 24px;
                padding-bottom: 96px;
            }
        }  

    }

}         