html {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

html h1 {
  margin: 0;
  padding: 0;
}

.container, .row {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Barlow", sans-serif;
  margin: 0 auto;
  text-align: center;
}

body #sec-font {
  font-family: "Fraunces", serif;
}

body header #position-absolute {
  position: absolute;
  top: 2rem;
}

body header .cover {
  padding: auto;
}

body header .cover h1 {
  font-weight: 900;
  font-size: 36px;
  color: white;
  letter-spacing: 12px;
  line-height: 1.2;
}

body header .cover img {
  padding-top: 40px;
}

body header .nav .menu {
  visibility: hidden;
  width: 88%;
  background-color: white;
  z-index: 1;
  top: 100px;
  position: absolute;
  left: 6%;
}

body header .nav .menu #info {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}

body header .nav .menu #contact-bttn {
  padding-bottom: 2.5rem;
}

body header .nav .menu ul {
  list-style: none;
  text-align: center;
}

body header .nav .menu ul li {
  padding: 0.8rem;
}

body header .nav .menu ul li #list-font {
  color: darkgray;
  font-size: 1.1rem;
}

body header .nav .menu ul li #projects {
  margin-bottom: 1.5rem;
}

body header .nav .menu ul li #contact {
  font-family: "Fraunces", serif;
  padding: 16px 24px;
  background-color: #fadc14;
  font-size: 0.85rem;
  border-radius: 50px;
  margin-top: 2rem;
}

body header .nav .menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-right: 26px solid #ffffff;
  border-bottom: 0px solid transparent;
  margin: -26px 0 0 139px;
}

body header .nav:hover .menu {
  visibility: visible;
  width: 88%;
  background-color: white;
  z-index: 1;
  top: 100px;
  position: absolute;
  left: 6%;
}

body header .nav:hover .menu #info {
  padding-top: 1.5rem;
  padding-bottom: 0.7rem;
}

body header .nav:hover .menu #contact-bttn {
  padding-bottom: 2.5rem;
}

body header .nav:hover .menu ul {
  list-style: none;
  text-align: center;
}

body header .nav:hover .menu ul li {
  padding: 0.8rem;
}

body header .nav:hover .menu ul li #list-font {
  color: darkgray;
  font-size: 1.1rem;
}

body header .nav:hover .menu ul li #projects {
  margin-bottom: 1.5rem;
}

body header .nav:hover .menu ul li #contact {
  font-family: "Fraunces", serif;
  padding: 16px 24px;
  background-color: #fadc14;
  font-size: 0.85rem;
  border-radius: 50px;
  margin-top: 2rem;
}

body header .nav:hover .menu:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 26px solid transparent;
  border-right: 26px solid #ffffff;
  border-bottom: 0px solid transparent;
  margin: -26px 0 0 139px;
}

body main .section-one p, body main .section-one h2 {
  margin: 0;
}

body main .section-one .subtitle {
  font-weight: 900;
  font-size: 2rem;
}

body main .section-one #paragraph {
  color: darkgray;
}

body main .section-one .learnmore {
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
  text-decoration-thickness: 6px;
  text-underline-offset: -0.15em;
}

body main .section-one .yellow {
  -webkit-text-decoration-color: #fdfdbc;
          text-decoration-color: #fdfdbc;
}

body main .section-one .pink {
  -webkit-text-decoration-color: rgba(252, 177, 189, 0.5);
          text-decoration-color: rgba(252, 177, 189, 0.5);
}

body main .section-two .position-relative {
  position: relative;
}

body main .section-two .position-absolute {
  position: absolute;
  top: 65%;
}

body main .section-two .position-absolute .subtitle {
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
}

body main .section-two .position-absolute #description {
  line-height: 1.6;
}

body main .section-three #client-review {
  color: #787878;
  font-size: 1.1rem;
  line-height: 1.65;
}

body main .section-three #client-name {
  font-family: "Fraunces", serif;
  color: #00234b;
  font-weight: 900;
  font-size: 1.15rem;
}

body main .section-three #client-position {
  font-size: 0.9rem;
  color: #b9b9b9;
}

body main .section-four .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main .section-four .col {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
}

body .footer {
  background-color: #7bccbb;
}

body .footer .logo {
  width: 60%;
}

body .footer .links {
  color: #458c7e;
  font-size: 1.1rem;
}

body .footer .links :hover {
  color: white;
}

body .footer .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=style.css.map */