@import './variables';
@import './margins';

* {
    overflow-x: hidden;
}

.container-fluid {
    --bs-gutter-x: 0;
}

body {

    font-family: $primaryFont;
    margin: 0 auto;
    text-align: center;

    #desktop-img {
        display: none;
    }

    #sec-font {
        font-family: $secondaryFont;
    }

    header {

        .position-absolute {
            position: absolute;
        }

        .first {
            padding: 2rem 2rem 0 2rem;

            .menu {

                visibility: hidden;
                width: 88%;
                background-color: white;
                z-index: 1;
                position: absolute;
    
                #info {
                    padding-top: 1.5rem;
                    padding-bottom: 0.7rem;
                }
    
                #contact-bttn {
                    padding-bottom: 2.5rem;
                }
                
                ul {
                    list-style: none;
                    text-align: center;
                    
                    li {
                        padding: 0.8rem;
                        
                        #list-font {
                            color: darkgray;
                            font-size: 1.1rem;
                        }
    
                        #projects {
                            margin-bottom: 1.5rem;
                        }
    
                        #contact {
                            
                            font-family: $secondaryFont;
                            padding: 16px 24px;
                            background-color: rgb(250, 220, 20);
                            font-size: 0.85rem;
                            border-radius: 50px;
                            margin-top: 2rem;
                        }
                    }
                }

            .menu:before {

                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-top: 13px solid transparent;
                border-right: 26px solid #ffffff;
                border-bottom: 13px solid transparent;
                margin: -13px 0 0 90px;

            }
    
            }
    
            .hamburger:hover {

                .menu {

                    visibility: visible;
                    width: 88%;
                    background-color: white;
                    z-index: 1;
                    top: 100px;
                    position: absolute;
                    left: 6%;
        
                    #info {
                        padding-top: 1.5rem;
                        padding-bottom: 0.7rem;
                    }
        
                    #contact-bttn {
                        padding-bottom: 2.5rem;
                    }
                    
                    ul {
                        list-style: none;
                        text-align: center;
                        
                        li {
                            padding: 0.8rem;
                            
                            #list-font {
                                color: darkgray;
                                font-size: 1.1rem;
                            }
        
                            #projects {
                                margin-bottom: 1.5rem;
                            }
        
                            #contact {
                                
                                font-family: $secondaryFont;
                                padding: 16px 24px;
                                background-color: rgb(250, 220, 20);
                                font-size: 0.85rem;
                                border-radius: 50px;
                                margin-top: 2rem;
                            }
                        }
                    }
        
                }
        
                .menu:before {
                    content:"";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-top: 26px solid transparent;
                    border-right: 26px solid #ffffff;
                    border-bottom: 0px solid transparent;
                    margin: -26px 0 0 139px;
                 }
        
            }
    

        }

        .second {

            padding-top: 6rem;
            padding-bottom: 4rem;

            h1 {
                font-weight: 900;
                font-size: 2rem;
                color: white;
                letter-spacing: 8px;
                line-height: 1.4;
            }

            img {
                padding-top: 40px;
            }

        } 
                    
    }

    main {

        .intro {
            p, h2 {
                margin: 0;
            }

            .catchphrase {
                padding: 5rem 2rem;
            }

            .subtitle {
                font-weight: 900; 
                font-size: 2rem;
            }

            #paragraph {
                color: darkgray;
            }

            .learnmore {

                color: black; 
                font-weight: 900;
                font-size: 0.8rem;
                letter-spacing: 0.5px;
                text-decoration-thickness: 6px;
                text-underline-offset: -0.15em;
                
            }

            .yellow {

                text-decoration-color: rgb(253, 253, 188);

            }

            .pink {

                text-decoration-color: rgba(252, 177, 189, 0.5);
                
            }


        }

        .content {

            .position-relative {
                position: relative;
            }

            .position-absolute {
                position: absolute;
                top: 65%;

                .subtitle {
                    font-family: $secondaryFont;
                    font-weight: 900;
                    font-size: 1.8rem;
                }
    
                #description {
                    line-height: 1.6;
                }
            }
        }

        .testimonials {

            padding-top: 5rem;

            .first {

                h5 {
                    font-size: 1rem;
                    letter-spacing: 5px;
                    color: darkgray;
                    font-weight: 900;
                }
    
            }

            .second {

                padding: 2rem 1rem;

                .client {
                    padding-bottom: 2rem;
                }

                #client-review {
                    color: rgb(120, 120, 120);
                    font-size: 1.1rem;
                    line-height: 1.65;
                }
    
                #client-name {
                    font-family: $secondaryFont;
                    color: rgb(0, 35, 75);
                    font-weight: 900;
                    font-size: 1rem;
                }
    
                #client-position {
                    font-size: 0.8rem;
                    color: rgb(185, 185, 185);
                }
    
            }

        }
        
    }

    footer {

        background-color: hsl(168, 44%, 64%);

        .logo {
            img {
                width: 60%;
            }
        }

        .links {
            color: hsl(168, 34%, 41%);
            font-size: 1.1rem;
            :hover {
                color: white;
            }
        }

    }
        
    
}